body {
  padding: .5rem;

  width: 100%;
  height: 100vh;

  position: relative;
}

* {
  user-select: none;
}

body:has(menu:hover) menu .xr-button p {
  max-width: 5rem;
  opacity: 1;
  margin-left: .25rem;
}

body:has(menu:hover) menu {
  width: 10rem;
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.5);
}

/* body:has(menu:hover) root {
  width: calc(100% - 10.5rem);
  margin-left: 10.5rem;
} */

menu {
  position: fixed;

  width: 4.5rem;
  height: calc(100% - 1rem);

  background: var(--xr-color-bg-b);

  border-radius: .25rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: .5rem;

  padding: .5rem;

  transition: width .25s ease-in-out, box-shadow .25s ease-in-out;

  z-index: 10;

  outline: .5rem solid var(--xr-color-bg-a);
}

root {
  margin-left: 5rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: .25rem;

  width: calc(100% - 5rem);
  height: 100%;

  border-radius: .25rem;

  background: var(--xr-color-bg-b);

  transition: width .25s ease-in-out, margin-left .25s ease-in-out;

  overflow-y: auto;
  overflow-x: hidden;

  border: .25rem solid var(--xr-color-bg-b);

  position: relative;
}

.xr-menu-button {
  width: 100%;
  height: 3.5rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;
}

.xr-menu-button svg {
  margin-left: .6rem;
  transition: color .1s ease-in-out;
}

.xr-menu-button p {
  max-width: 0px;
  opacity: 0;
  margin-left: 0rem;

  transition: max-width .25s ease-in-out, opacity .25s ease-in-out, margin-left .25s ease-in-out, color .1s ease-in-out;
}

.xr-menu-active * {
  color: var(--xr-color-accent);
}

view {
  width: 100%;

  max-height: 999rem;
  max-width: 100%;

  padding: .25rem;
  border-radius: .25rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: .25rem;

  /* transition: max-height .25s ease-in-out, opacity .1s ease-in-out, padding .25s ease-in-out, border .25s ease-in-out,
   top .25s ease-in-out, left .25s ease-in-out, max-width .5s ease-in-out, height .25s ease-in-out; */

   transition: max-height .25s ease-in-out, opacity .1s ease-in-out, padding .25s ease-in-out, border .25s ease-in-out,
   top .25s ease-in-out, left .25s ease-in-out;
}

view * {
  transition: opacity .1s ease-in-out;
}

@keyframes view-inactive {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.view-inactive {
  padding: 0;
  border: none;
  /* opacity: 0; */
  position: absolute;
  left: .25rem;
  top: .25rem;
  max-height: 0rem;
  /* max-width: 0rem; */

  overflow: hidden;

  animation: view-inactive .5s 1 forwards;
}

.view-inactive * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

xr-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: .25rem;
}

.control-refresh {
  width: 2rem;
}

view-window {
  width: 100%;

  background: var(--xr-color-bg-e);

  padding: .25rem;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: .25rem;

  border-radius: .25rem;

  position: relative;

  border-top: 1.5rem solid var(--xr-color-bg-d);
}

view-window::before {
  content: attr(data-title);

  position: absolute;

  top: -1.3rem;
  left: .5rem;
}

.flex110 {
  flex: 1 1 0px;
}

flex-row {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: .25rem;
}

flex-row > * {
  flex: 1 1 0px;
}

.xr-button svg, .xr-input svg {
  width: 1.25rem;
}

/* view:not([data-view="control"]) {
  margin-top: 3rem;
} */

/* @keyframes host-input {
  from { top: 3rem; }
  to { top: 1rem; }
}

view[data-view="control"]:is(.view-inactive) .xr-host-input{
  position: fixed;

  top: 1rem;
  left: 6rem;
  width: calc(100% - 7rem);
  height: 2.5rem;

  border-radius: .25rem;

  background: var(--xr-color-bg-e);

  padding: .25rem;

  opacity: 1 !important;

  z-index: 9;

  animation: host-input .25s 1 forwards;
} */

.view-100vp {
  height: calc(100vh - 2rem);
}

.view-of-visible {
  overflow: visible;
}

notepad {
  width: 100%;

  border-radius: .25rem;

  background: var(--xr-color-bg-d);

  overflow: visible;
}

.ql-tooltip {
  z-index: 999;
}

.ql-editor.ql-blank::before {
  color: var(--xr-text-color-primary);
}

control-loader {
  position: absolute;

  top: 2.5rem;
  left: 0;

  z-index: 9;

  width: 100%;
  height: calc(100% - 2.5rem);

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--xr-color-bg-e);

  opacity: 0.8;

  transition: opacity .25s ease-in-out;

  border-radius: .25rem;
}

control-loader .xr-label {
  color: var(--xr-color-accent);
}

log {
  width: 100%;
  height: 100%;

  position: fixed;

  z-index: 999;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  flex-direction: column;
  gap: .25rem;

  padding: 1rem;

  overflow: hidden;

  pointer-events: none;
}

@keyframes log-entry {
  from {
      opacity: 0;
      transform: translateY(-1rem);
  }

  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes log-hide {
  from {
      opacity: 1;
      transform: translateY(0);
  }

  to {
      opacity: 0;
      transform: translateY(1rem);
  }
}

log-message {
  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 30rem;
  max-height: 30rem;

  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  backdrop-filter: blur(5px);

  padding: 1rem;

  border-radius: .25rem;

  animation: log-entry .5s 1 forwards;

  cursor: pointer;

  pointer-events: all;

  user-select: none;

  position: relative;
}

log-message::after {
  content: '';

  font-weight: bold;

  position: absolute;
  top: -.5rem;
  right: -.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 1.5rem;
  height: 1.5rem;

  background: var(--xr-text-color-secondary);
  box-shadow: 0 0 5px var(--xr-text-color-secondary);

  background-image: url('./assets/x.svg');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center;

  border-radius: 50%;

  opacity: 0;

  transition: opacity .1s ease-in-out;
}

log-message:hover::after {
  opacity: 1;
}

log-message svg {
  transform: scale(0.8);
  margin-right: .25rem;
}

.log-bad {
  background: rgba(255, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

.log-alert {
  background: rgba(255, 213, 98, 0.5);
  box-shadow: 0 0 5px rgba(255, 213, 98, 0.5);
}

.log-alert * {
  color: var(--xr-text-color-secondary);
}

.log-ok {
  background: rgba(0, 255, 128, 0.5);
  box-shadow: 0 0 5px rgba(0, 255, 128, 0.5);
}

.log-ok * {
  color: var(--xr-text-color-secondary);
}

logo {
  width: calc(100% - 1rem);
  height: 3.5rem;

  border-radius: .25rem;

  background-image: url(./assets/TMW.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  position: absolute;

  left: .5rem;
  bottom: .5rem;
}

.control-host {
  color: var(--xr-color-accent);
}

.control-host::placeholder {
  color: var(--xr-text-color-primary);
}